{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "hrundel/node"
  ],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "es6": true
  }
}
