<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" href="/css/index.css" media="screen">
    <link rel="stylesheet" href="/css/users-list.css" media="screen">
  </head>
  <body>
    <h2>Список контактов</h2>
    <article class="user-list">
      {{{body}}}
    </article>
  </body>
</html>