.user-list {
  display: flex;
  flex-direction: column;
}

.user-card {
  display: grid;
  grid-template:
    'avatar user-name' 30px
    'avatar info' 1fr / 20% 1fr;

  width: 80%;
  height: 100px;
  margin: 10px 0;

  border-radius: 10px;

  background-color: #a0bbff;
}

.user-card__avatar {
  overflow: hidden;
  align-self: flex-start;
  grid-area: avatar;

  width: 90px;
  height: 90px;
  margin: 5px;

  border: #081e5f solid 1px;
  border-radius: 100px;

  background: #c0c0c0;
}

.user-card__avatar-image {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.user-card__name {
  display: flex;
  align-items: center;
  grid-area: user-name;

  margin-left: 10px;

  font-size: 20px;
}