.chatContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  color: rgb(54, 54, 54);
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.chatHeader {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  background: #dcf5e8;
  border-bottom: #ccd4d0 solid 1px;
  box-sizing: border-box;
}

.navigateBefore {
  margin: 10px;
  cursor: pointer;
}

.chatTitle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  flex-grow: 1;
  cursor: default;
}

.chatbox {
  width: 100%;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chatWindow::-webkit-scrollbar {
  width: 3px;
}

.chatWindow::-webkit-scrollbar-thumb {
  background-color: #b8bcc7;
  border-radius: 2px;
}

.chatWindow {
  flex: auto;
  overflow: auto;
}

.chatForm {
  display: flex;
  flex: 0 0 auto;
  height: 100px;
  width: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.messageInput {
  flex-grow: 1;
  resize: none;
  outline: 0 none;
  border: none;
  padding: 10px;
  font-family: 'Lato', 'Roboto', sans-serif;
}

.submitButton {
  color: rgba(0, 0, 0, 0.25);
  outline: 0 none;
  border: none;
  width: 60px;
  transition: all 0.15s ease-in-out;
}

.submitButton:enabled {
  color: rgba(0, 0, 0, 0.75);
  background: #dcf5e8;
}

.messageContainer {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  padding: 0;
}

.messageContainer:first-child {
  margin-top: 10px;
}

.messageBox {
  display: flex;
  background: #efefef;
  padding: 10px 10px 0 10px;
  border-radius: 0 6px 6px 0;
  max-width: 80%;
  width: auto;
  float: left;
  box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
}

.avatar {
  display: inline-block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background: #dcf5e8;
  margin: 0 10px 10px 0;
}

.messageContent {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  width: calc(100% - 50px);
}

.messageText {
  flex: 1 0 auto;
  display: inline-block;
  font-size: 11pt;
  line-height: 13pt;
  margin: 0 0 4px 0;
}

.messageText:first-of-type {
  margin-top: 8px;
}

.timestamp {
  color: rgba(0, 0, 0, .38);
  font-size: 8pt;
  margin-bottom: 10px;
}

.username {
  margin-right: 3px;
}

.postTime {
  margin-left: 3px;
}

.messageSelf .messageBox {
  border-radius: 6px 0 0 6px;
  background: #dcf5e8;
  float: right;
  flex-direction: row-reverse
}

.messageSelf .avatar {
  margin: 0 0 10px 10px;
}

.messageSelf .messageText {
  text-align: right;
}

.messageSelf .timestamp {
  text-align: right;
}
