.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-width: 300px;
  max-width: 1000px;
  height: 100vh;
  margin: auto;

  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);

  color: rgb(54, 54, 54);
}

.chatHeader {
  display: flex;
  align-items: center;

  box-sizing: border-box;

  width: 100%;
  height: 70px;

  border-bottom: #ccd4d0 solid 1px;

  background: #dcf5e8;
}

.navigateBefore {
  margin: 10px;

  cursor: pointer;
}

.chatTitle {
  position: absolute;
  left: 50%;

  transform: translate(-50%, 0);

  cursor: default;
}

.chatbox {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  width: 100%;
  min-width: 300px;
  height: 100%;
}

.chatWindow {
  overflow: auto;
  flex: auto;
}

.chatWindow::-webkit-scrollbar {
  width: 3px;
}

.chatWindow::-webkit-scrollbar-thumb {
  border-radius: 2px;

  background-color: #b8bcc7;
}

.chatForm {
  display: flex;
  flex: 0 0 auto;

  width: 100%;
  height: 100px;

  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.messageInput {
  flex-grow: 1;

  padding: 10px;

  border: none;

  font-family: 'Lato', 'Roboto', sans-serif;

  outline: 0 none;
  resize: none;
}

.submitButton {
  width: 60px;

  border: none;

  transition: all 0.15s ease-in-out;

  color: rgba(0, 0, 0, 0.25);

  outline: 0 none;
}

.submitButton:enabled {
  background: #dcf5e8;
  color: rgba(0, 0, 0, 0.75);
}

.messageContainer {
  position: relative;

  display: inline-block;

  width: 100%;
  margin-bottom: 10px;
  padding: 0;
}

.messageContainer:first-child {
  margin-top: 10px;
}

.messageBox {
  float: left;

  display: flex;

  width: auto;
  max-width: 80%;
  padding: 10px 10px 0 10px;

  border-radius: 0 6px 6px 0;

  background: #efefef;

  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.avatar {
  display: inline-block;

  width: 40px;
  height: 40px;
  margin: 0 10px 10px 0;

  border-radius: 50%;

  background: #dcf5e8;
}

.messageContent {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;

  width: calc(100% - 50px);
}

.messageText {
  display: inline-block;
  flex: 1 0 auto;

  margin: 0 0 4px 0;

  font-size: 11pt;
  line-height: 13pt;
}

.messageText:first-of-type {
  margin-top: 8px;
}

.timestamp {
  margin-bottom: 10px;

  color: rgba(0, 0, 0, 0.38);
  font-size: 8pt;
}

.username {
  margin-right: 3px;
}

.postTime {
  margin-left: 3px;
}

.messageSelf .messageBox {
  float: right;

  flex-direction: row-reverse;

  border-radius: 6px 0 0 6px;

  background: #dcf5e8;
}

.messageSelf .avatar {
  margin: 0 0 10px 10px;
}

.messageSelf .messageText {
  text-align: right;
}

.messageSelf .timestamp {
  text-align: right;
}
