.chatContainer {
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;

  box-sizing: border-box;

  width: 80%;
  height: 80%;
  margin: auto;

  border: #1e90ff solid 2px;
  border-radius: 5px;
}

.chatHeader {
  display: flex;
  flex-direction: row;

  width: auto;
  height: 70px;
  margin: 0;
}

.headerAvatarContainer {
  overflow: hidden;
  align-self: flex-start;

  width: 60px;
  height: 60px;
  margin: 5px;

  border-radius: 100px;

  background: #c0c0c0;
}

.headerAvatarImage {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.headerUsername {
  display: flex;
  align-items: center;

  margin-left: 10px;

  font-size: 1.75em;
}

.messages {
  display: flex;
  overflow: auto;
  flex-direction: column;

  width: 100%;

  background-color: #6381de;
}

.myMessage,
.othersMessage {
  justify-self: end;

  min-width: 20%;
  max-width: 80%;
  margin: 4px;

  border-radius: 3px;

  background-color: #ffffff;
  color: #081e5f;

  font-family: 'Roboto Condensed', sans-serif;
}

.othersMessage {
  align-self: flex-start;
}

.myMessage {
  align-self: flex-end;
}

.messageForm {
  display: flex;
  flex-direction: row;

  max-height: 50px;
}

.messageFormInput {
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  margin: 2px;

  border: #000000 solid 1px;

  resize: none;
}

.chat {
  flex-grow: 1;

  height: auto;
  margin: 5px;
}

.sendMessageButton {
  align-self: center;
  justify-self: flex-end;

  margin: 5px;
}
