.user-list {
  display: flex;
  flex-direction: row;
}

.user-card {
  display: grid;
  grid-template:
    'avatar user-name' 30px
    'avatar info' 1fr / 20% 1fr;

  width: 80%;
  height: 100px;

  border-radius: 10px;

  background-color: #a0bbff;
}

.chat__header__avatar {
  overflow: hidden;
  align-self: flex-start;
  grid-area: avatar;

  width: 90px;
  height: 90px;
  margin: 5px;

  border: #081e5f solid 1px;
  border-radius: 100px;

  background: silver;
}

.image {
  width: 70px;
  height: 70px;
}

.chat__header__name {
  display: flex;
  align-items: center;
  grid-area: user-name;

  margin-left: 10px;

  font-size: 20px;
}
