.user-list {
    display: flex;
    flex-direction: row;
}

.user-card {
    width: 80%;
    height: 100px;
    border-radius: 10px;
    background-color: #a0bbff;

    display: grid;
    grid-template:
            "avatar user-name" 30px
            "avatar info" 1fr / 20% 1fr;
}

.chat__header__avatar {
    width: 90px;
    height: 90px;
    background: silver;
    overflow: hidden;
    margin: 5px;
    border: #081e5f solid 1px;
    border-radius: 100px;
    align-self: flex-start;

    grid-area: avatar;
}

.image {
    width: 70px;
    height: 70px;
}

.chat__header__name {
    margin-left: 10px;
    display: flex;
    align-items: center;

    font-size: 20px;

    grid-area: user-name;
}